* {
    margin: 0;
    font-family: pixellari;
}

body,
main {
    height: 100vh;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex.center {
    justify-content: center;
}

.flex.vertical-center {
    align-items: center;
}

.flex.between {
    justify-content: space-between;
}

.flex.column {
    flex-direction: column;
}

.flex.nowrap {
    flex-wrap: nowrap;
}

.flex.bigSec {
    width: 70%;
    height: 100%;
}

.flex.smallSec {
    width: 30%;
    height: 100%;
}

.flex.column>.flex.bigSec {
    width: 100%;
    height: 70%;
}

.flex.column>.flex.smallSec {
    width: 100%;
    height: 30%;
}

#clicker,
.upgrade,
.miner,
.tier {
    cursor: pointer;
}

.upgrade,
.miner,
.tier {
    border: solid 2px black;
    margin: 5px;
}
/*#upgradeContainer,
#minerContainer,
#tierContainer {
    background-color: #411e08;
}*/

#upgradeContainer,
#minerContainer {
    overflow-y: scroll;
}

.upgradeImage,
.minerImage {
    width: 35px;
    margin: 5px;
}

.miner {
    width: 100%;
}

#clickingContainer {
    position: relative;
    background-image: url("https://art.ngfiles.com/images/1131000/1131823_vannzilla_pixel-art-cave-background.png?f1578086175");
    background-size: cover;
    background-position: 0;
}

#scoreContainer {
    background-color: #411e08;
    padding: 13px;
    position: relative;
    top: 5px;
    left: 5px;
    color: #cbab85;
    border-radius: 10px;
    width: 280px;
    z-index: 2;
}

#scoreContainer:before {
    background: none;
    border: solid 3px #c98964;
    position: absolute;
    content: "";
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 10px;
}

#clicker {
    width: 200px;
    height: 200px;
    background-color: black;
    animation-duration: 3s;
    animation-name: rotation;
    animation-iteration-count: infinite;
    transition-duration: 0.2s;
    position: absolute;
    top: calc(50% - 105px);
    left: calc(50% - 100px);
}

@keyframes rotation {
    0% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(-20deg);
    }
}

@media only screen and (max-width: 768px) {
    .flex.bigSec,
    .flex.smallSec {
        width: 100%;
    }

    #scoreContainer {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #clicker {
        top: calc(65% - 105px);
    }
}