* {
    margin: 0;
    font-family: pixellari;
}

body {
    height: 100vh;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex.center {
    justify-content: center;
}

.flex.vertical-center {
    align-items: center;
}

.flex.between {
    justify-content: space-between;
}
.flex.column {
    flex-direction: column;
}
.flex.nowrap {
    flex-wrap: nowrap;
}
.flex.bigSec {
    width: 70%;
    height: 100%;
    background-color:red;
}
.flex.smallSec {
    width: 30%;
    height: 100%;
    background-color:blue;
}
.flex.column > .flex.bigSec {
    width: 100%;
    height: 70%;
}
.flex.column > .flex.smallSec {
    width: 100%;
    height: 30%;
}

#upgradeContainer, #minerContainer {
    overflow-y: scroll;
}

.upgrade,
.miner,
.tier {
    border: solid 2px black;
    margin: 5px;
}

#clicker {
    width: 200px;
    height: 200px;
    background-color: black;
}

#clicker,
.upgrade,
.miner,
.tier {
    cursor: pointer;
}

.upgradeImage, .minerImage {
    width: 35px;
    margin: 5px;
}