* {
    margin: 0;
    font-family: pixellari;
}

::-webkit-scrollbar {
    display: none;
}

a, a:visited {
    color:  #e0c19b;
}

body {
    height: 100vh;
    background-color: #343442;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

nav {
    background-color: #111116;
    color: white;
    height: 10vh;
}

main {
    height: 90vh;
}

body,
main {
    overflow-y: hidden;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex.center {
    justify-content: center;
}

.flex.vertical-center {
    align-items: center;
}

.flex.vertical-end {
    align-items: end;
}

.flex.between {
    justify-content: space-between;
}

.flex.column {
    flex-direction: column;
}

.flex.nowrap {
    flex-wrap: nowrap;
}

.flex.bigSec {
    width: 70%;
    height: 100%;
}

.flex.smallSec {
    width: 30%;
    height: 100%;
}

.flex.column>.flex.bigSec {
    width: 100%;
    height: 65%;
}

.flex.column>.flex.smallSec {
    width: 100%;
    height: 35%;
}

.fullHeight {
    height: 100%;
}

.scroll {
    overflow-y: scroll;
}

.split {
    width: 50%;
    height: 100%;
}

.container {
    background-color: #411e08;
    color: #e0c19b;
    border: solid 4px #c98964;
    border-radius: 10px;
    width: 85%;
    height: 85%;
    position: relative;
}

.containerTitle {
    position: absolute;
    top: -45px;
    background-color: #411e08;
    border: solid 4px #c98964;
    border-radius: 10px;
    padding: 5px;
    z-index: 2;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#logoImage {
    width: 300px;
    height: 100%;
}

#topRight {
    margin-top: 30px;
}

#savePopup {
    position: absolute;
    top: 10px;
    left: calc(50vw - 45px);
    width: 90px;
    height: 40px;
    background-color: #411e08;
    border: solid 4px #c98964;
    border-radius: 10px;
    color: #e0c19b;
    z-index: 4;
    display: none;
}

#achievementPopup {
    position: absolute;
    bottom: 10px;
    left: calc(40vw);
    width: 20vw;
    height: 50px;
    background-color: #411e08;
    border: solid 4px #c98964;
    border-radius: 10px;
    color: #e0c19b;
    z-index: 4;
    display: none;
}

#pagePopup {
    position: absolute;
    padding: 5px;
    top: 0;
    left: 0;
    display: none;
    background-color: #343442;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    color: white;
}

#achievementContainer {
    width: 100%;
}

.icon {
    margin: 7px;
}

#close,
nav {
    font-size: 40px;
}

#close {
    position: absolute;
    top: 5px;
    left: 5px;
}

#clicker,
.upgrade,
.miner,
.tier,
.icon,
.achievement {
    cursor: pointer;
}

.upgrade,
.miner,
.tier,
.achievement {
    border: solid 2px #c98964;
    border-radius: 10px;
    margin: 5px;
}

.achievement {
    width: 50px;
    height: 50px;
    display: inline-flex;
    position: relative;
}
.achievement.locked {
    cursor: default;
}
.locked i {
    font-size: 45px;
    position: absolute;
}
.achievement img {
    width: 45px;
    position: absolute;
}
#achievementInfo img {
    width: 100px;
}

.upgradeImage,
.minerImage {
    width: 35px;
    margin: 5px;
}

.miner {
    width: 100%;
}

.tier {
    height: 95%;
    background-color: #411e08;
}
.tierImage {
    width: 75px;
    height: 75px;
}

#clickingContainer {
    position: relative;
    background-image: url("https://i.redd.it/6axfm8uck3oy.png");
    background-size: cover;
    background-position: 0;
    height: 100%;
}

#scoreContainer {
    background-color: #411e08;
    color: #e0c19b;
    border-radius: 10px;
    padding: 13px;
    position: relative;
    top: 5px;
    left: 5px;
    width: 280px;
    z-index: 2;
    margin: 0;
}

#scoreContainer:before {
    background: none;
    border: solid 3px #c98964;
    position: absolute;
    content: "";
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 10px;
}

#clicker {
    width: 250px;
    height: 250px;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    animation-duration: 3s;
    animation-name: rotation;
    animation-iteration-count: infinite;
    transition-duration: 0.2s;
    position: absolute;
    top: calc(50% - 130px);
    left: calc(50% - 125px);
}

@keyframes rotation {
    0% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(-20deg);
    }
}

@media only screen and (max-width: 768px) {

    body,
    main {
        overflow-y: visible;
    }

    .flex.bigSec,
    .flex.smallSec {
        width: 100%;
    }

    #logoImage {
        display: none;
    }

    #tierContainer {
        width: 100%;
    }

    #clicker {
        top: calc(55% - 105px);
        left: calc(50% - 100px);
        width: 200px;
        height: 200px;
    }
}